<div ng-if="myinfo.saved">
First name: {{myinfo.user.fname}}<br>
Last name: {{myinfo.user.lname}}<br>
Email: {{myinfo.user.email}}<br>
<span ng-if="myinfo.user.phone">Phone: {{myinfo.user.phone}}<br></span>
Favourite dish: <br>
({{myinfo.dish.short}}) {{myinfo.dish.name}} <br>
<img src="../../images/menu/{{myinfo.short}}/{{myinfo.short}}.jpg" alt="{{myinfo.dish.name}}"><br>
{{myinfo.dish.description}}
</div>

<div ng-hide="myinfo.saved">
Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>