<div class="container-fluid signup" ng-if="myinfo.saved">

First name: {{myinfo.user.fname}}<br><hr>
Last name: {{myinfo.user.lname}}<br><hr>
Email: {{myinfo.user.email}}<br><hr>
<span ng-if="myinfo.user.phone">Phone: {{myinfo.user.phone}}<br><hr></span>
Favourite dish: <br><br>

<div class="menu-item-tile col-md-6 dish">
  <div class="row">
    <div class="col-sm-5">
      <div class="menu-item-photo">
        <div>{{myinfo.dish.short}}</div>
        <img class="img-responsive" width="250" height="150" ng-src="../../images/menu/{{myinfo.short}}/{{myinfo.short}}.jpg" alt="{{myinfo.dish.name}}" alt="{{myinfo.dish.name}}">
      </div>
      <div class="menu-item-price">{{myinfo.dish.price_small | currency}}<span> {{myinfo.dish.small_portion_name}}</span> {{myinfo.dish.price_large | currency}} <span>{{myinfo.dish.large_portion_name}}</span></div>
    </div>
    <div class="menu-item-description col-sm-7">
      <h3 class="menu-item-title">{{myinfo.dish.name}}</h3>
      <p class="menu-item-details">{{myinfo.dish.description}}</p>
    </div>
  </div>
  <hr class="visible-xs">
</div>

</div>

<div ng-if="!myinfo.saved" class="signup">
<h4>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></h4>
</div>